<form action='/artist-search' method='GET'>
  <label for='q'>
    Search
  </label>
  <input type='text' name='q' id='q' placeholder='Artist' value='{{q}}' />
  <input type='submit' value='Search for an Artist' />
</form>